<div>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h1>Login</h1>
          <div>
            <%= f.email_field :email, autofocus: true, placeholder:"Email", class:"form-control" %>
          </div>

          <div>
            <%= f.password_field :password, placeholder:"Senha", class:"form-control" %>
          </div>

          <div>
            <%= f.submit "Entrar", class:"btn btn-default submit", style:"float: none; margin-left: 0px; width: 40%;" %>
            <%= link_to 'Esqueceu a sua senha?', new_user_password_path, class:"reset_pass" %>
          </div>

          <div class="clearfix"></div>

          <div class="separator"></div>
        <% end %>
      </section>
    </div>
  </div>
</div>
