<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <% unless params[:term] %>
    <h3>Últimas perguntas cadastradas...</h3>
  <% else %>
    <h3><%= "Resultados  para o termo \"#{params[:term]}\"..."%></h3>
  <% end %>
</div>

<% @questions.each do |question| %>
  <%= form_with url: site_answer_path do |form| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= question.description %></h3>
      </div>
      <div class="panel-body">
        <ul>
          <% question.answers.each do |answer| %>
            <li style="list-style:none;" >
              <div class="radio">
                <label>
                  <%= radio_button_tag 'answer_id', answer.id %>
                  <%= answer.description %>
                </label>
              </div>
            </li>
          <% end %>
          <li style="list-style:none;">
            <%= form.submit "Responder", class:"btn btn-default" %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>

<div class="text-center">
  <%= paginate @questions %>
</div>