<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Login Administrativo</h3>
            </div>
            <div class="panel-body">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), role: "form") do |f| %>
                    <fieldset>
                       <div class="form-group">
                         <%= f.email_field :email, autofocus: true, placeholder: "E-mail", class:"form-control" %>
                       </div>

                        <div class="form-group">
                          <%= f.password_field :password, placeholder: "Password", class:"form-control" %>
                        </div>

                        <% if devise_mapping.rememberable? -%>
                           <label>
                            <%= f.check_box :remember_me %>Lembrar-me
                          </label>
                        <% end -%>

                        <%= f.submit "Entrar", class:"btn btn-lg btn-success btn-block" %>
                    </fieldset>
                <% end %>
            </div>
        </div>
    </div>
</div>