<h1>Seja Bem-Vindo!</h1>
<p><strong>Data:</strong> <%= data_br(Date.today) %></p>

<%= render "menu" %>
 
<p>
    Você está em ambiente de <strong><%= ambiente_rails %></strong>
</p>
<p>
   Eu sou uma variável de instância/sessão <strong><%= @meu_nome %></strong>
</p>
<p>
    Meu curso é o curso de <strong><%= @curso %></strong>
</p>