<h1>Seja Bem-Vindo!</h1>
<p>O idioma usado nessa aplicação é: <strong> <%= t('actual_locale') %> </strong></p>
<p><strong>Data:</strong> <%= l(Date.today) %></p>
<p><%= t('hello') %></p>

<%= render "menu" %>
 
<p>
    Você está em ambiente de <strong><%= ambiente_rails %></strong>
</p>
<p>
   Eu sou uma variável de instância/sessão <strong><%= @meu_nome %></strong>
</p>
<p>
    Meu curso é o curso de <strong><%= @curso %></strong>
</p>